<div class="section">
  <div class="columns is-multiline">
    <div [ngClass]="columnClass" *ngFor="let blog of addBlogsPageList; let i = index;">
      <div class="card">
        <i class="pi pi-times-circle icon-remove" (click)="blogRemove(i)"></i>
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img [src]="blog.image" alt="Placeholder image" />
            </figure>
            <div class="card-content">
              <p class="title is-4">{{ blog.title }}</p>
              <div class="content">
                <p class="has-text-grey-light mt-3 mb-3">
                  Date Time: {{ blog.date }}
                </p>
                <p class="has-text-grey-light">
                  {{ blog.detail }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<nav class="pagination is-medium p-6" role="navigation" aria-label="pagination">
  <button
    class="pagination-previous"
    [disabled]="previousClicked"
    (click)="getPreviousPage()"
  >
    Previous
  </button>
  <button
    class="pagination-next"
    [disabled]="nextPageClicked"
    (click)="getNextPage()"
  >
    Next page
  </button>
  <ul class="pagination-list">
    <li>
      <a
        id="{{ 'pageId' + (page + 1) }}"
        class="pagination-link"
        *ngFor="let page of countOfPages; let i = index"
        (click)="changePage(page + 1)"
        >{{ page + 1 }}</a
      >
    </li>
  </ul>
</nav>

