<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      My Blogs Demo
    </p>
  </div>
</section>

<app-blogs-list [blogsList]="addBlogsPageList" (eventBlogRemove)="appRemoveBlog($event)"></app-blogs-list>


<nav class="pagination is-medium p-6" role="navigation" aria-label="pagination">
  <button class="pagination-previous" [disabled]="previousClicked" (click)="getPreviousPage()">Previous</button>
  <button class="pagination-next" [disabled]="nextPageClicked" (click)="getNextPage()">Next page</button>
  <ul class="pagination-list">
    <li>
      <a id="{{'pageId'+(page+1)}}" class="pagination-link" *ngFor="let page of countOfPages; let i=index" (click)="changePage(page+1)">{{page+1}}</a>
    </li>
  </ul>
</nav>


<!-- is-disabled -->

<router-outlet></router-outlet>
